<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>



<body style="background-color:#EEE9E5;">

html
  head
    title contact
        
    body
          
    
        
          p(style='text-align:center;background:#EEE9E5;margin: 10px 1%;padding: 1%;')
            i(style='color:black; font-family:Quicksand; sans-serif; margin-right:auto;')
              a#mail For any question feel free to 
                a(href="mailto:johnniy5@me.com" ) Email me ! 
                
                
                
                p(style='text-align:center;background:#EEE9E5;margin: 10px 1%;padding: 1%;')
                  i(style='color:black; font-family:Quicksand; sans-serif; margin-right:auto;')
                    a#mail You can Follow me on 
                      a(href="https://twitter.com/Vesuviian" ) Twitter ! <img style="border-radius:100%;" src="http://www.onedboard.com/wp-content/uploads/2014/04/twitter.png" width=45; height=45></img>    
                
                
                
              
            
                  
                  
                    
  nav(style="font-family: 'Quicksand', sans-serif;")
    ul(style="text-align:center;list-style:none;margin:0 10px;padding:0;")
      li
        a(href='user')  Articles 
        |         
      li
        a(href='deck')  Browse Games 
        |         
      li
        a(href='video')  Videos 
        |         
      li
        a(href='index')  Home  
        
        
        
        
        
        
        
        
            
            

<img style="margin:auto;padding-right:0.2cm;display:block;" src="http://www.aeclectic.net/tarot/cards/_img/world-spirit-05074.jpg"></img>
                
          
          
             
    
    
    
    
    
    
    
    
    
<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>

    
