doctype html
<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

    

<body style="background-color:#EEE9E5;">




html
  head  
    title Games
    
    body

    
        article(style='border-color:black; text-align:center;')
      
          p(style='float: left;width: 23%;background: #389F9C;margin: 10px 1%;padding: 1%;')
            strong(style='color:antiquewhite; font-family:Quicksand; sans-serif; margin-right:auto;') Middle Earth CCG
            <img   src="http://www2.odn.ne.jp/ring/middleearth/middle%20earth.gif" alt="Magnifying Glass" id="searchIcon"></img>
            
            p(style='float: left;width: 23%;background: #389F9C;margin: 10px 1%;padding: 1%;')
              strong(style='color:antiquewhite; font-family:Quicksand; sans-serif; margin-right:auto;') Mythos
              <img   src="http://astralcastle.com/images/ccg/myth/logo-mythos2.gif" width=300; height=119; alt="Magnifying Glass" id="searchIcon"></img>
              
              p(style='float: left;width: 23%;background: #389F9C;margin: 10px 1%;padding: 1%;')
                strong(style='color:antiquewhite; font-family:Quicksand; sans-serif; margin-right:auto;') Tarots
                <img   src="https://s-media-cache-ak0.pinimg.com/736x/d5/88/b8/d588b807239ace0a01678a4793d7ce93.jpg" width=300; height=119; alt="Magnifying Glass" id="searchIcon"></img>


  

  
    
  
  
  nav(style="font-family: 'Quicksand', sans-serif;")
    ul(style="text-align:center;list-style:none;margin:0 10px;padding:0;")
      li
        a(href='user')  Articles  
        |         
      li
        a(href='video')  Videos 
        |         
      li
        a(href='index')  Home
        |         
      li
        a(href='contact')  Contact   
                        


  

      
      

    
    
    
    
    
    
    
    
    
<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>

    
