

<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
html
  head
      title Retro-Card-Gaming.net
    style
      include style.css
    
    
    
    

<body style="background-color:#EEE9E5;">
<p style="text-align:center; color:#00B6E3; font-family: 'Quicksand', sans-serif; font-size: 2em; margin-top:50px;" ><strong> Retro-Card-Gaming.net</strong></p>
</body>



<img   src="http://www.aeclectic.net/tarot/cards/_img/world-spirit-05074.jpg" alt="Magnifying Glass" id="searchIcon"></img>


p(style="text-align:center; color:#00B6E3; font-family: 'Quicksand', sans-serif; font-size: 2em;")
  strong "Back in time of the old Card Gaming"#{username.gamer1}  
  
  
  
  
  
  nav(style="font-family: 'Quicksand', sans-serif;")
       ul
           li
             a(href='article')  Articles 
           |         
           li
             a(href='deck')  Browse Games 
           |         
           li
             a(href='user')  Storytelling 
           |         
           li
             a(href='contact')  Contact  
             
             
             
             
             
             
             
             
             
             
             
             
             
      
      
             
          
          
          
          
          
          
          
          
          



  footer
          a(style='color:black;',href='https://twitter.com/Vesuviian') Twitter #{username.gamer}
              
          






           
          
          
           
           
          
          
           

    


<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
