html

    block content
      article(style='border-color:black; text-align:center;')
  
    p(style='float: left;width: 23%;background: #4BB5C1;margin: 10px 1%;padding: 1%;')
      i(style='color:antiquewhite; font-family:Quicksand; sans-serif; margin-right:auto;') welcome here !
      <img   src="http://www2.odn.ne.jp/ring/middleearth/middle%20earth.gif" alt="Magnifying Glass" id="searchIcon"></img>
  
    
      
